@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

$font-family: 'Poppins';

:root {
  --background-color-primary: #46a335;
  --background-color-jumbotron: #46a335;
  --background-color-secondary: #ebebeb;
  --background-color-href: #46a335;
}

:root.dark-theme {
  --background-color-primary: #1e1e1ef2;
  --background-color-secondary: #1e1e1ee6;
  --background-color-jumbotron: #292929;
  --background-color-card-bg: #141414;
  --background-color-href: #fff;
}

body {
  background-color: var(--background-color-secondary) !important;
  font-size: 15px !important;
}

.form-control {
  font-size: 15px !important;
}

a {
  text-decoration: none !important;
  color: var(--background-color-primary) !important;
}

.vbt-autcomplete-list a {
    color: var(--background-color-card-bg) !important;
    border: 0;
}

.vbt-autcomplete-list a:hover {
    background-color: var(--background-color-jumbotron) !important;
    color: var(--background-color-href) !important
}

.navbar {

  .collapsed {
    font-size: 16px !important;
  }

  background-color: var(--background-color-primary);

  a {
    color: #fff !important
  }

  button:hover {
    color:#000
  }

  .btn-outline-success:hover {
    background-color: #e7e7e7;
    border-color: #c3c3c3;
  }

  .btn-outline-success {
    color: #000000;
    border-color: #a5a5a5;
  }

  .nav-button-left {
    background-color: #fff; 
    padding: 7px; 
    margin-left: 10px;
  }

  .nav-language-switcher {
    padding: 0 !important; 
    background-color: #fff
  }
}

.primary-link {
    background-color: var(--background-color-primary);
    text-decoration: none;
    cursor: pointer;
}

.bi--variant-primary {
  color: var(--background-color-primary) !important
}


.card {
  font-family: $font-family;
  background: #fff;
  color: #67607c !important;
  box-shadow: 0 2px 8px rgb(88 58 188 / 8%);
  padding: 25px 20px;
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 5px;

  .card-header {
    background-color: #fff !important;
    border: none;

    .title {
      color: var(--background-color-primary);
    }

    .description {
      font-weight: 300
    }
  }

  .card-footer {
    margin: -8px !important;

    .btn {
      background-color: var(--background-color-primary);
      border-color: #d1d1d1ed;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.card-tile {
  font-family: $font-family;
  background: #fff;
  color: #67607c !important;
  box-shadow: 0 2px 8px rgb(88 58 188 / 8%);
  padding: 25px 20px;
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 5px;

  .card-header {
    background-color: #fff !important;
  }

  .card-block {
    padding: 8px;
  }

  .card-title {
    margin: 0 !important;
    font-size: 19px;
    line-height: 1.4;
    margin: 0 0 20px 0;
    font-weight: 400;
    color: var(--background-color-primary);;
    text-transform: none;
  }

  .text-muted {
    color: #86848b !important;
  }

  .card-text {
    font-size:15px;
    font-weight: 300;
  }
}

.jumbotron {
  background-color: var(--background-color-jumbotron);
  height: 160px;

  input {
    background-color: rgb(255 255 255 / 27%);
    border-color: transparent;
    border-radius: 6px;
    overflow: visible;
    padding: 10px 0px 11px 0px;
    font-size: 19px !important;
    color: #fff !important;
    font-size: 17px !important;
  }


  .form-group .form-control {
    padding-left: 3.175rem;
  }

  .form-group .form-control-icon {
    position: absolute;
    display: block;
    color: rgb(255, 255, 255);
    padding: 4px;
    margin: 10px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }

  input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none !important;
  }

  .form-group {
    padding-top: 50px;
  }
}

.card:not(:first-child) {
  margin-top: 25px;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(88, 58, 188, 0.09);
}

.card-header .title {
  font-size: 18px
}

.icon--flags {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;

  &.en {
      background-image:url(/src/assets/images/web/icons/usa.png);
  }

  &.nl {
      background-image:url(/src/assets/images/web/icons/nl.png);
  }
}

.dropdown-language-switcher-toggle {
  min-width: 8px !important;
  padding: 4px !important;
  margin-left: 1px !important;
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.btn:focus, .btn.focus {
  outline: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important; // or none
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(169, 173, 168, 0.39);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;

  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 100 !important
}

[data-prefix="fas"],
[data-prefix="far"] {
  color: var(--background-color-primary) !important
}

.v-toast__text {
  font-size: 14px
}

.modal {

  .modal-title {
    color: var(--background-color-primary);
  }

  .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #ddcece96;
    background-color: var(--background-color-primary);
  }

  .btn:hover,
  .btn:focus {
    background-color: #4f8745 !important;
    border: 1px solid #ddcece96 !important;
  }

  .btn-close {
    background-color: #fff;
    border: 0;
    font-size: 14px
  }
}

.table {
  font-size: 14px;
}

input::placeholder {
  font-family: $font-family;
  font-weight: 100 !important
}

.notyf__message {
  font-family: $font-family;
  font-size: 14px
}

.breadcrumb {
  display: -ms-flexbox !important;;
  display: flex !important;;
  -ms-flex-wrap: wrap !important;;
  flex-wrap: wrap !important;;
  padding: .75rem 1rem !important;;
  margin-bottom: 1rem !important;;
  list-style: none !important;;
  background-color: #acacac26 !important;
  border-radius: .25rem !important;
  font-family: $font-family !important;

  span {
    color: var(--background-color-href) !important;
  }

  a {
    color: var(--background-color-href) !important;
  }

  .breadcrumb-item {
    &.active {
      color: #000 !important;
    }
  }
}

.speedchecker-content {
  
  .tabs {
    ul {
      background-color: #e9e9e9;
      padding: 5px 5px 0px 5px;
      border: 1px solid #d7d7d7;
    }

    .tab-content {
      margin: -1px 8px 0px 8px;
      border: 1px solid #d1d1d1;
    }
  }
}